<div class="titulo_padre">
    <h1>Comunicación entre componentes</h1>
    <h6><mark> componente HTML padre</mark></h6>
</div>
<p></p>
<div class="container">
    <p>La comunicación en Angular se puede dar en dos sentidos:</p>
    <ul>
        <li>
            Cuando se quiere comunicar algo que <b>está en el componente padre y se
            quiere pasar al componente hijo</b>. Para este caso se utiliza el
            decorador <b>@Input</b>, al mismo tiempo que se declara como atributo del
            código html lo que se quiere comunicar.
        </li>
        <li>
            Cuando se quiere comunicar algo que <b>está en el componente hijo y se
            quiere pasar al componente padre</b>. Para eso se utiliza el decorador
            <b>@Output</b>, generando un EventEmitter cuando se produce la
            comunicación, siendo recogida dicha comunicación en el elemento
            padre.
        </li>
    </ul>

    <hr />

    <h1>Comunicación padre - hijo</h1>

    <div class="container-fluid top-space">
        <h2>Elemento padre</h2>
        <h6><mark>Container del componente padre</mark></h6>
        <p>
            Todo lo que está contenido dentro de este div está declarado en el
            html correspondiente al elemento app.component.html
        </p>
        <div>
            <!--Realizar comunicación desde el padre-->
            <input type="text" placeholder="Elemento a comunicar" #elemento />
            <button type="button" class="btn btn-primary"
                (click)="realizarComunicacion(elemento.value)">
                Realiza comunicación
            </button>
        </div>
        <div class="alert alert-danger top-space" role="alert"
            *ngIf="datoComunicar.length ==0 ">
            Estás intentando comunicar un dato vacío
        </div>
        <!--En el archivo html del padre que contiene la etiqueta del hijo, 
            se utiliza la variable con decorador componenteComunicar definida 
            en el hijo como atributo de la etiqueta, utilizando data binding-->
        <app-hijo [componenteComunicar]="datoComunicar"></app-hijo>
        <br/>
        </div>

        <h1 class="top-space">Comunicación hijo - padre</h1>
        
        <div class="container-fluid top-space">
            <h2>Elemento padre</h2>
            <h6><mark>Container del componente padre</mark></h6>
            <p>
                Todo lo que está contenido dentro de este div está declarado en
                el html correspondiente al elemento app.component.html. <mark>El
                elemento obtenido desde el hijo es</mark>: 
                <strong>{{datoComunicarPadre}}</strong>
            </p>
            <!--Dentro de la etiqueta asociada al elemento hijo-dos se declara un evento con 
            el mismo nombre del decorador @Output declarado en hijo.dos-ts, y se iguala a un 
            método que se deberá crear en la clase asociada al componente padre. Este método 
            recibe como parámetro un evento ($event) que es aquello emitido por el EventEmitter 
            del hijo-dos-->
            <app-hijo-dos (eventoComunicar)="realizaComunicacionHijo($event)"></app-hijo-dos>
            <br/>
            </div>
        </div>
